.item-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 10vh;
    margin: 0 auto;
    padding: 0 auto;
    transform: scale(1.5);
}

.item-container > p{
    color: black;
}

.date {
    color: lightslategray;
    flex: 1;
    padding-right: 40px;
    text-align: right;
}

.bullet-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.bullet-line {
    background-color: black;
    width: 2px;
    height: 100%;
}


.bullet {
    background-color: black;
    width: 15px;
    height: 15px;
    border: 1px solid black;
    border-radius: 50%;
    position: absolute;
}

.change {
    color: black;
    flex: 1;
    display: flex;
    padding-left: 20px;
}


h1 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    transform: scale(1.5);
}

body {
    border: 2px solid black;
    border-radius: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    gap: 0px;
}

header {
    text-align: center;
    margin: auto 20px;
}

h3{
    color: lightslategrey;
    transform: scale(1.5);
}

.button-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 5%;
    transform: scale(1.5);
}

.visit-button {
    border: 1px solid black;
    background-color: black;
    color: white;
    border-radius: 10px;
    padding: 10px 25px;
    transform: scale(1.2);
}